.jumbotron {
    padding: 2rem 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    width: 400px;
    margin: 20px auto 0 auto;
    text-align: center;
}

table {
    margin-top: 20px;
}

input {
    margin-bottom: 20px;
}

button {
    width: 100%;
    margin-top: 1rem;
}

.selecionado {
    background-color: yellow;
}

.negrito {
    font-weight: bold;
}